{% extends 'admin/adminbase.html' %}
{% block sidebar %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">David Grey. H</span>
          <span class="text-secondary text-small">Project Manager</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin_home">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/customers">
        <span class="menu-title">Customers</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/products">
        <span class="menu-title">Products</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/coupons">
        <span class="menu-title">Coupons</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/offers">
        <span class="menu-title">Offers</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/categories">
          <span class="menu-title">Categories</span>
          <i class="mdi mdi-chart-bar menu-icon"></i>
        </a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="/orders">
        <span class="menu-title">Orders</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="/sales">
        <span class="menu-title">Sales</span>
        <i class="mdi mdi-table-large menu-icon"></i>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
        <span class="menu-title">Sample Pages</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-medical-bag menu-icon"></i>
      </a>
      <div class="collapse" id="general-pages">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
        </ul>
      </div>
    </li> -->
  </ul>
</nav>
{% endblock %}

{% block content %}

<div class="main-panel">
            <div class="col-lg-12 stretch-card">
              
                <div class="card">
                  
                  <div class="card-body">
                    <h4 class="card-title ">Blocked Customers</h4>
                    
                      <p ><a  href="/customers"><button class="btn-success">View Active Customers</button></a></p>
                    
                    
                {% for message in messages %}
                    <p><span class="text-danger">{{message}}</span></p>
                {%endfor%} 
                <div class="table-responsive pt-3"></div>
                {% if customers %}
                    <table class="table table-bordered" id="mycustomersblocked">
                      <thead>
                        <tr>
                           
                          <th> Sl no: </th>
                          <th> Name </th>
                          
                          <th> Email </th>
                        <th>View</th>
                        <th> Unblock </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in customers %}
                        <tr>
                            
                          <td >
                            {{item.id}}
                          </td>
                          <td> {{item.first_name}} </td>
                          
                          <td> {{item.email}} </td>
                          <td><a href="/view_customer/{{item.id}}"><button class="btn-success" >View</button></a></td>
                          <td>  
                            <input type="hidden" value="{{item.id}}" id="unblock_user">
                              <a > <button class="btn-success" onclick="showSwal('unblock_user','{{item.id}}')">Unblock</button></a>  
                          </td> 
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <script>
                      $(document).ready( function () {
                        $('#mycustomersblocked').DataTable();
                    } );
                    </script>
                    {% else %}
                    <h1>There is no blocked customers.......</h1>
                    {% endif %}
                  </div>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}