

  {% extends 'admin/adminbase.html' %}
  
  {% block sidebar %}
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile">
            <span class="login-status online"></span>
            <!--change to offline or busy as needed-->
          </div>
          <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">David Grey. H</span>
            <span class="text-secondary text-small">Project Manager</span>
          </div>
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/admin_home">
          <span class="menu-title">Dashboard</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/customers">
          <span class="menu-title">Customers</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/products">
          <span class="menu-title">Products</span>
          <i class="mdi mdi-contacts menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/coupons">
          <span class="menu-title">Coupons</span>
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/offers">
          <span class="menu-title">Offers</span>
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/categories">
            <span class="menu-title">Categories</span>
            <i class="mdi mdi-chart-bar menu-icon"></i>
          </a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders">
          <span class="menu-title">Orders</span>
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sales">
          <span class="menu-title">Sales</span>
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
      </li>
      
      <!-- <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
          <span class="menu-title">Sales</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-medical-bag menu-icon"></i>
        </a>
        <div class="collapse" id="general-pages">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/sales_report"> Daily sales </a></li>
            <li class="nav-item"> <a class="nav-link" href="/sales_report_weekly"> Weekly sales </a></li>
            <li class="nav-item"> <a class="nav-link" href="/sales_report_yearly"> Yearly sales </a></li>
            
          </ul>
        </div>
      </li> -->
    </ul>
  </nav>
  {% endblock %}
  
  {% block content %}
  
                                <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
                                <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
                                <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
                                                       </head>
                                <body oncontextmenu='return false' class='snippet-body'>
                                <link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
<div class="container-fluid mt-2 mb-3">
    <div class="row no-gutters">
        <div class="col-md-5 pr-2">
            <div class="card">
                <div class="demo">
                    <img src="{{product.image.url}}" alt="">
                    
                </div>
            </div>
            
        </div>
        <div class="col-md-7">
            <div class="card">
                
                <div class="about"> <h1 class="font-weight-bold">{{product.name}}</h1>
                    
                </div>
                
                <hr>
                <div class="product-description">
                    <div><span class="font-weight-bold">Total stock : </span><span> {{product.total_quantity}}</span></div>
                    <div class="mt-2"> <span class="font-weight-bold"></span>
                        <div><span class="font-weight-bold">Category : </span><span> {{product.category.name}}</span></div>
                        
                    </div>
                    <div class="mt-2"> <span class="font-weight-bold"></span>
                        <div><span class="font-weight-bold">Offer : </span><span> {{product.offer}} %</span></div>
                        
                    </div>
                    <div class="mt-2"> <span class="font-weight-bold"></span>
                        
                        <div><span class="font-weight-bold">Description :</span><span> {{product.description}}</span></div>
                    </div>
                    <!-- <div class="mt-2"> <span class="font-weight-bold">Store</span> </div>
                    <div class="d-flex flex-row align-items-center"> <img src="https://i.imgur.com/N2fYgvD.png" class="rounded-circle store-image">
                        <div class="d-flex flex-column ml-1 comment-profile">
                            <div class="comment-ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> <span class="username">Rare Boutique</span> <small class="followers">25K Followers</small>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="card mt-2">
                <div><span class="font-weight-bold">Price : </h6><span> {{product.price}} Rs</span></div>
                
                
            </div>
            <div class="card mt-2">
                <a href="/update_product/{{ product.id }}"><span class="glyphicon glyphicon-pencil" ><button  class=" btn-success">Update Product</button></span></a>
                
                
            </div>
            
        </div>
    </div>
</div>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
<script>
    
</script>
                                <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
                                <script type='text/javascript' src=''></script>
                                <script type='text/javascript' src=''></script>
                                <script type='text/Javascript'></script>
                                </body>
                            </html>
  <!-- <div class="main-panel">
      <div class="row">
        <div col-md-6>
            <h3 class="ms-5 mt-5">{{product.name}}</h3>
        </div>
    
      </div>
  </div> -->
  {% endblock %}