

{% extends 'user/userbase.html' %}
{% load static %}
<script type="text/javascript" src="{% static 'user/js/cart.js' %}" ></script>


        {% block content %}

        <!-- breadcrumb-section -->


            <div class="container">
              <div class="row">
              
                <div class="col-md-6">
                  <h2>Active orders</h2>
                  
                </div>
                <div class="col-md-6">
                  
                  <a href="/order_user"><button class="btn btn-success" >Order History</button></a>
                  <a href="/delivered_orders"><button class="btn btn-success" >Delivered Orders</button></a>
                </div>
                
                
                
              </div>
            </div>
            <br>
            
          
          <!-- end breadcrumb section -->


        <div class="container" >
          <div class="row" >
      <table class="table" id="userorders">
          <thead>
            <tr>
              <th scope="col">Order Id</th>
        
              <th scope="col"> Amount </th>
              <th scope="col"> Payment status </th>
              <th scope="col"> Payment method </th>
              <th scope="col">Order status</th>
              <th scope="col">Orederd at</th>
              <th scope="col">View Order</th>
              <th scope="col">Cancel</th>
        
            </tr>
          </thead>
          <tbody>
          {% for item in order %}
            <tr>
             
              
              <td>{{item.id}}</td>
              
              <td>{{item.amount}}</td>
                            {% if item.is_paid %}
                            <td>Paid</td>
                            {% else %}
                            <td>Not Paid</td>
                            {% endif %}
              <td>{{item.payment_method}}</td>
              <td>{{item.status}}</td>
              <td>{{item.created_at}}</td>
              <td><a href="/view_order_user/{{item.id}}"><button class="btn-success" >View order</button></a></td>
              <td><button onclick="showSwal('cancel-user-order', '{{item.id}}')" class="btn btn-danger" >Cancel</button></td>
             
            </tr>
          {% endfor %} 
          </tbody>
        </table>
        <script>
          $(document).ready( function () {
            $('#userorders').DataTable();
        } );
        </script>
      </div>

        </div>
        <!-- <div class="text-center">
          {% if order.has_previous %}
        <a  href="{% url 'active_orders' %}?page={{order.previous_page_number}}"> <button class="btn-success" > Prev</button></a>
        {% endif %}
        {{order}}
        {% if order.has_next %}
        <a  href="{% url 'active_orders' %}?page={{order.next_page_number}}"><button class="btn-success" >Next</button></a>
        {% endif %}

        </div> -->
      
      



        {% endblock %}

        