
{% extends 'user/userbase.html' %}
{% load static %}
<script type="text/javascript" src="{% static 'user/js/cart.js' %}" ></script>


{% block content %}

    
        
        

     
<div class="cart-section mt-150 mb-150">
    <div class="container">
        <h2 class="text-center">Cart</h2>
        
        {% if cart %}
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap product_data">
                
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                
                                <th class="product-image">Product Image</th>
                                <th class="product-name">Name</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity in Kg</th>
                                <!-- <th class="product-quantity">Total price</th> -->
                                
                                <th>Remove Item</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in cart %}
                            <tr class="table-body-row">
                                
                                <td class="product-image"><img src="{{item.product.image.url}}" alt=""></td>
                                <td class="product-name">{{item.product.name}}</td>
                                
                                <td class="product-price"><span id="{{item.product.id}}">{{item.product.final_price}}</span> Rs</td>
                                <td class="product-quantity text-center">
                                    
                                    <button class="btn btn-light decrement-button-{{item.id}}" style="width: 2.5em; border-radius: 1em;"  onclick="minus_quantity('{{item.quantity}}', '{{item.id}}')">-</button>
                                                    <input type="text" style="width: 2.5em; border: none;  " class="quantity-input-{{item.id}} text-center" value="{{item.quantity}}" id="{{item.id}}">

                                    <button class="btn btn-light increment-button-{{item.id}} " style="width: 2.5em; border-radius: 1em;" data-productQuantity="{{item.product.total_quantity}}" onclick="plus_quantity('{{item.quantity}}', '{{item.id}}')">+</button>
                                  
                                    <!-- <input type="number" onclick="update_quantity('{{item.quantity}}')" value="{{item.quantity}}" class="form-control text-center" id="productQty"> -->
                                </td>
                                
                                <!-- <td id="total-{{item.id}}"></td> -->

                                <input id="total-{{item.id}}" type="hidden" name="">

                                <td><input type="hidden" value="{{item.id}}" id="remove_id">
                                    <button  onclick="showSwal('delete-product', '{{item.id}}')" class="btn btn-danger">Remove</button></td>
                                
                            </tr>
                            


                            <script type="text/javascript">

                                            console.log(document.getElementById('{{item.id}}').value);
                                                                                                     
                                            

                                            document.getElementById("total-{{item.id}}").value = (parseInt(document.getElementById('{{item.id}}').value))*parseInt('{{item.product.final_price}}')
                    

    
    
                                            function plus_quantity(quantity, id){
                                    
                                                            $.ajax({
                                                            type:'GET',
                                                            url:'/plus_cart_quantity/'+quantity+'/'+id,
                                                            
                                                        })

                                                        
                                                        }
                                                                                
                                            

                                            function minus_quantity(quantity, id){
            
                                                            $.ajax({
                                                            type:'GET',
                                                            url:'/minus_cart_quantity/'+quantity+'/'+id,
                                                            
                                                        })
                                                        } 
                                            function productQuantity(total_quantity) {
                                                var stock_quantity = total_quantity
                                                // console.log(stock_quantity)
                                            }

                                            $(document).ready(function () {
                                                $('.increment-button-{{item.id}}').click(function (e) { 
                                                    document.getElementById("total-{{item.id}}").value = (parseInt(document.getElementById('{{item.id}}').value)+1)*parseInt('{{item.product.final_price}}')
                                                    e.preventDefault();
                                                    let quantity = $(this)
                                                    // console.log(quantity[0].dataset.productquantity);
                                                    let stock_quantity=quantity[0].dataset.productquantity
                                                    var inc_value = $(this).closest('.product_data').find('.quantity-input-{{item.id}}').val();
                                                    var value = parseInt(inc_value,10);
                                                    value = isNaN(value) ? 0: value;
                                                    if(value < stock_quantity)
                                                    {
                                                        value++;
                                                        $(this).closest('.product_data').find('.quantity-input-{{item.id}}').val(value);
                                                        var totalprice = document.getElementById('cart_total').innerHTML 
                                                    console.log(totalprice)
                                                    document.getElementById('cart_total').innerHTML  = parseInt(totalprice) + parseInt(document.getElementById('{{item.product.id}}').innerHTML)
                                                    }

                                                    
                                               
                                                    
                                                });

                                                $('.decrement-button-{{item.id}}').click(function (e) { 
                                                    document.getElementById("total-{{item.id}}").value = (parseInt(document.getElementById('{{item.id}}').value)-1)*parseInt('{{item.product.final_price}}')
                                                    e.preventDefault();
                                                    
                                                    var dec_value = $(this).closest('.product_data').find('.quantity-input-{{item.id}}').val();
                                                    var value = parseInt(dec_value,10);
                                                    value = isNaN(value) ? 0: value;
                                                    if(value>1)
                                                    {
                                                        value--;
                                                        $(this).closest('.product_data').find('.quantity-input-{{item.id}}').val(value);
                                                        var totalprice = document.getElementById('cart_total').innerHTML 
                                                    console.log(totalprice)
                                                    document.getElementById('cart_total').innerHTML  = parseInt(totalprice) - parseInt(document.getElementById('{{item.product.id}}').innerHTML)
                                                    }

                                                    
                                                });
                                                
                                            });            
                                            
                                          
                            </script>
                            {% endfor %}
                        </tbody>
                    </table>
                
                

                </div>
            </div>


            <div class="col-lg-4">
                <div class="total-section">
                   
                    <div class="total-section">

                        
                    
                        <td><strong> Subtotal : <span style="color: green; font-size: 1.5em;" id="cart_total">{{total}}</span> Rs</strong></td>
                        
                        {% if address %}
                        <div class="text-center" >
                            <h6>Deliver to :</h6>
                            <h5>{{address.name}}, {{address.house_name}}, {{address.street_name}}, {{address.landmark}}, {{address.city}}, {{address.pin_code}}</h5>
                            <a href="/choose_address_select" ><button  class="btn-success" >change address</button></a>
                        </div>
                        {% else %}
                            <h6>Choose an address</h6>
                            <a href="/choose_address_select" ><button  class="btn-success" >Choose address</button></a>
                        {% endif %}
                        
                        <div class="cart-buttons">
                            {% if prolist %}
                                <div>
                                    {% if prolistlen == 1 %}

                                    <p>Unfortunately product : <span  style="color: red; font-weight:bolder;" >{% for item in prolist %} {{item.name}}{% endfor %} </span>is not available, remove it to continue checkout!..</p>
                                    

                                    {% else %}
                                    <p>Unfortunately products : <span  style="color: red; font-weight:bolder;" >{% for item in prolist %} {{item.name}},{% endfor %} </span>are not available, remove them to continue checkout!..</p>
                                    {% endif %}
                                </div>
                            {% else %}
                                {% if address %}
                                    <a href="/choose_payment_method/{{address.id}}" ><button  class="btn btn-success" >Proceed to payment</button></a>
                                {% endif %}
                            {% endif %}
                            
                            <input type="hidden">
                            <button  id="delete-cart" onclick="showSwal('delete-cart')" class="btn btn-danger" >Delete Cart</button>

                            
                        </div>
                    </div>
                </div>
                
                
               
            </div>
               
            </div> 
            
        </div>
        {% else %}    
                   <div class="row text-center" >

                    
                    <div class="container">
                        <h1 class="text-center">Cart is empty....</h1><br>
                        <a class="text-center" href="/shop"><button class="btn btn-success">Shop Here</button></a>
                    </div>
                    

                   </div>
                    
        {% endif %}
    </div>
</div>
<!-- end cart -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->


{% endblock %}


